body {
  background-color: #e4f9f5;
}

img {
  border-radius: 100%; 
}

h1 {
  color: #40514e;
}

h3 {
  color: #40514e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #30e3ca;
  border-width: 5px;
  width: 5%;
}
